<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/angular.min.js"></script>
</head>

<body>
    <h2>show and hide</h2>
    <hr>
    <div ng-app ng-init="show=true;hide=false">
        <p>show the picture <input type="checkbox" ng-model="show"></p>
        <img src="../ajs/show.png" ng-show="show" alt="xinh">
        <p>hide the picture</p>
        <input type="checkbox" ng-model="hide"> <br>
        <img src="../ajs/show.jpg" ng-hide="hide" />
    </div>
</body>

</html>